@model Infraestructure.Models.HISTORICO



<h1 class="display-6" id="estiloColor">
    Detalle de Informes
</h1>
<hr class="my-4">
@Styles.Render("~/Content/STYLE-GENERAL/directory-list.css")
<div class="card mb-3 ">
    <div class="row no-gutters">
        <div class="col-lg-8">
            <div class="card-body">
                <h3 class="card-title" >Informe #@Html.DisplayFor(model => model.ID)</h3>
                <h6 class="text-muted">
                    Tipo: @Html.DisplayFor(model => model.MOVIMIENTO.nombre)
                </h6>
                <h6>
                    Fecha y Hora: @Html.DisplayFor(model => model.fechaHora)
                </h6>

                <h6>
                    Detalle: @if (Model.detalle.IsEmpty() || Model.detalle == "")
                    {
                        <div style="display:inline;">No hay detalle</div>
                    }
                    else
                    {
                        @Html.DisplayFor(model => model.detalle)
                    }
                </h6>
                <hr />
                <h4 class="card-title" id="estiloColor">Información General</h4>
                <h5 class="card-title">Usuario a cargo del movimiento:</h5>
                @*<p class="card-text">ID: #@Html.DisplayFor(model => model.IDUsuario)</p>*@
                <p class="card-text">Cédula: @Html.DisplayFor(model => model.USUARIO.cedula)</p>
                <p class="card-text">Nombre: @Html.DisplayFor(model => model.USUARIO.nombre) 
                        @if (Model.USUARIO.apellidos.IsEmpty() == false)
                                {@Html.DisplayFor(model => model.USUARIO.apellidos)}</p>
                <p class="card-text">Rol: @Html.DisplayFor(model => model.USUARIO.ROL.descripcion)</p>
                <p class="card-text">Correo: @Html.DisplayFor(model => model.USUARIO.correo)</p>
                <p class="card-text">Telefono: @Html.DisplayFor(model => model.USUARIO.telefono)</p>
            </div>
        </div>
    </div>
</div>
<br />


<br />

<h3>Productos</h3>
<hr class="my-4">
<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.HistDetalleEntradaSalida.ElementAt(0).PRODUCTOS.CATEGORIA.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistDetalleEntradaSalida.ElementAt(0).PRODUCTOS.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HistDetalleEntradaSalida.ElementAt(0).PRODUCTOS.nombre)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.HistDetalleEntradaSalida.ElementAt(0).cantidad)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.HistDetalleEntradaSalida.ElementAt(0).PRODUCTOS.estado)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.HistDetalleEntradaSalida.Count() == 0)
        {


            <tr class="table-warning">

                <td colspan="5"><div class="text-center">No hay registros</div> </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.HistDetalleEntradaSalida)
            {
                <tr class="table-secondary">
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTOS.CATEGORIA.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTOS.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTOS.nombre)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>
                    <td style="text-align:center">
                        @if (@Html.DisplayFor(modelItem => item.PRODUCTOS.estado).ToString() == "1")
                        {
                            <div>Activo</div>
                        }
                        else
                        {
                            <div>Inactivo</div>
                        }
                    </td>

                </tr>
            }
        }

    </tbody>
</table>
<br/>
<h3>Sucursusal</h3>
<hr class="my-4">
<div class="container">
    <div class="row">

        @if (Model.HistDetalleEntradaSalida.Count() == 0)
        {
            <div style="margin: 1.5px; --bs-gutter-x: 0;" class="col-12 card  mb-3  border border-warning">
                <div class="card-header  bg-warning text-white" style="text-align: center">
                    No disponible
                </div>
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title">Información:</h5>
                    <p class="card-text"> No hay contactos registrados para este proveedor</p>

                </div>
            </div>
        }
        else
        {
            if (Model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL != null)
            {

                <div style="margin: 1.5px; --bs-gutter-x: 0;" class="col-12  card  mb-3  border border-success">
                    <div class="card-header bg-success text-white">
                        Sucursal de Entrada: @Html.DisplayFor(model => model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL.nombre)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Información:</h5>
                        <p class="card-text">Dirección: @Html.DisplayFor(model => model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL.direccion)</p>
                        <p class="card-text">
                            @if (Model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL.estado == 1)
                            {
                            <div>  Estado de la Sucursal: Activo</div>
                            }
                            else
                            {
                        <div>  Estado de la Sucursal: Inactivo</div>
                            }
                        </p>
                        <p class="card-text">Identificador de Sucursal: @Html.DisplayFor(model => model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL.ID)</p>
                    </div>
                </div>
            }
            if (Model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL1 != null)
            {

                <div style="margin: 1.5px; --bs-gutter-x: 0;" class="col-12  card  mb-3  border border-warning">
                    <div class="card-header bg-warning text-white">
                        Sucursal de Salida: @Html.DisplayFor(model => model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL1.nombre)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Información:</h5>
                        <p class="card-text">Dirección: @Html.DisplayFor(model => model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL1.direccion)</p>
                        <p class="card-text">
                           @if (Model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL1.estado == 1)
                            {
                            <div>  Estado de la Sucursal: Activo</div>
                            }
                            else
                            {
                        <div>  Estado de la Sucursal: Inactivo</div>
                            }
                        </p>
                        <p class="card-text">Identificador de Sucursal: @Html.DisplayFor(model => model.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL1.ID)</p>
                    </div>
                </div>
            }
        }

    </div>
</div>


<br />



<p>

</p>

@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
            <p>Si deseas conocer mas acerca de la página, favor visitar la página "Acerca de"</p>
        </div>
    </footer>
}