@model IEnumerable<Infraestructure.Models.HistDetalleEntradaSalida>

@{
    ViewBag.Title = "InformeEntrada";
}

<h2>InformeEntrada</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HISTORICO.fechaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HISTORICO.USUARIO.cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HISTORICO.MOVIMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SUCURSAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUCTOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HISTORICO.fechaHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HISTORICO.USUARIO.cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HISTORICO.MOVIMIENTO.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SUCURSAL.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUCTOS.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
