@model IEnumerable<Infraestructure.Models.HistDetalleEntradaSalida>

@{
    ViewBag.Title = "Informe Salida";
}

<h1 class="display-6" id="estiloColor">
    Informe de Salidas
</h1>

<hr class="my-4">
<p>
    @*Html.ActionLink("Create New", "Create")*@
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th width="180px">
                @Html.DisplayNameFor(model => model.HISTORICO.fechaHora)
            </th>
            <th width="180px">
                @Html.DisplayNameFor(model => model.HISTORICO.USUARIO.cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HISTORICO.MOVIMIENTO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SUCURSAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTOS)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.cantidad)
            </th>

        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr class="table-warning">

                <td colspan="6"><div class="text-center">No hay registros</div> </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="table-secondary">
                    <td>
                        @Html.DisplayFor(modelItem => item.HISTORICO.fechaHora)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HISTORICO.USUARIO.cedula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HISTORICO.MOVIMIENTO.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SUCURSAL1.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PRODUCTOS.nombre)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.cantidad)
                    </td>

                </tr>
            }
        }
    </tbody>
   



</table>

