@*@model IEnumerable<Infraestructure.Models.HISTORICO>*@
@model  PagedList.IPagedList<Infraestructure.Models.HISTORICO>
@using PagedList.Mvc;



@{
    ViewBag.Title = "InformeEntrada";
}
@Styles.Render("~/Content/PagedList.css")


<h1 class="display-6" id="estiloColor">
    Informe de Entradas
</h1>

<hr class="my-4">

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th width="180px">
                @Html.DisplayNameFor(model => model.First().fechaHora)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.First().USUARIO.cedula)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.First().MOVIMIENTO)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.First().HistDetalleEntradaSalida.ElementAt(0).IDSucursalEntra)
            </th>
            <th style="text-align:center">Ver Detalle</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Count() == 0)
        {
            <tr class="table-warning">

                <td colspan="4"><div class="text-center">No hay registros</div> </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="table-secondary">
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.fechaHora)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.USUARIO.cedula)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.MOVIMIENTO.nombre)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.HistDetalleEntradaSalida.ElementAt(0).SUCURSAL.nombre)
                    </td>
                    <td style="width:20%; text-align:center" id="estiloColorHover">
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }
    </tbody>

</table>

       @* Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount*@

        @Html.PagedListPager(Model, page => Url.Action("InformeEntrada", new { page = page }),
       new PagedListRenderOptions
       {
           LinkToFirstPageFormat = "<< Primera ",
           LinkToPreviousPageFormat = "< Anterior ",
           LinkToNextPageFormat = " Siguiente >",
           LinkToLastPageFormat = " Ultima >>",
           UlElementClasses = new[] { "pagination" },
           LiElementClasses = new[] { "page-item" },
           MaximumPageNumbersToDisplay = 5
            //,DelimiterBetweenPageNumbers = "-"
        })




        @section footer{
            <footer class="footer mt-auto py-3 ">
                <hr />
                <div class="container">
                    <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
                    <p>Si deseas conocer mas acerca de la página, favor visitar la página "Acerca de"</p>
                </div>
            </footer>
        }
