@*@model PagedList.IPagedList<Web.ViewModel.ViewModelMovimiento>*@
@model Web.ViewModel.ViewModelMovimiento
@{
    ViewBag.Title = "Movimiento Entrada";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    String filtro = ViewBag.Filtro;

    String filtroProveedor = "0";
    String fechaActual = "2021-09-23";

}



<ul class="nav nav-tabs" style="width:100%">

    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#ProductosGenerales">Productos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Detalle">Detalle</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#Finalizar">Finalizar</a>
    </li>

</ul>
<div style="height:480px">
    @using (Html.BeginForm("Save", "Productos", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div id="myTabContent" class="tab-content" style="width:100%">

            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="tab-pane fade active show" id="ProductosGenerales">

                <h1 class="display-6" id="estiloColor" style="margin-top:25px; text-align:center">
                    Productos disponibles para movimiento
                </h1>
                <hr class="my-4">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <p class="lead">
                                Proveedores disponibles a seleccionar.
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @Html.DropDownList(filtroProveedor,
                                   (SelectList)ViewBag.IDProveedor,
                                           "Seleccione un proveedor",
                                               htmlAttributes: new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <br />
                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.prodList.First().CATEGORIA.descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prodList.First().marca)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prodList.First().nombre)
                            </th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.prodList.Count() == 0 || Model.prodList.Equals(null))
                        {
                            <tr class="table-warning">
                                <td colspan="4"><div class="text-center">No hay registros</div> </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.prodList)
                            {
                                <tr class="table-secondary">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CATEGORIA.descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td style="width:20%" id="estiloColorHover">
                                        @Html.ActionLink("Agregar", "", new { id = item.ID })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>

            <div class="tab-pane fade " id="Detalle" style="z-index:2">
                <h1 class="display-6" id="estiloColor" style="margin-top:25px; text-align:center;">
                    Detalle del movimiento
                </h1>
                <hr class="my-4">

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <p class="lead">
                                La fecha actual del movimiento es:   @fechaActual
                            </p>
                        </div>
                    </div>
                </div>
                
                <br/>

                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th>
                                @Html.DisplayNameFor(model => model.prodList.First().CATEGORIA.descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prodList.First().marca)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.prodList.First().nombre)
                            </th>
                            <th>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        @if (Model.prodList.Count() == 0 || Model.prodList.Equals(null))
                        {
                            <tr class="table-warning">
                                <td colspan="4"><div class="text-center">No hay registros</div> </td>
                            </tr>
                        }
                        else
                        {
                            foreach (var item in Model.prodList)
                            {
                                <tr class="table-secondary">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.CATEGORIA.descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.marca)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.nombre)
                                    </td>
                                    <td style="width:20%" id="estiloColorHover">
                                        @Html.ActionLink("Borrar", "", new { id = item.ID }) |
                                        @Html.ActionLink("Editar", "", new { id = item.ID })
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>


            </div>

            <div class="tab-pane fade " id="Finalizar" style="z-index:3">
                <h1 class="display-6" id="estiloColor" style="margin-top:25px; text-align:center">
                    Confirmación de creación
                </h1>
                <hr class="my-4">
                <p class="lead" style=" text-align: center; margin-top:20px">
                    ¡ATENCION! Se guardara el producto especificado en la Base de Datos
                </p>

                <input type="submit" value="Registrar Producto" class="btn btn-primary"
                       style=" text-align: center; margin-left: 50%; transform: translateX(-50%); margin-top:60px" />

            </div>

        </div> @*final de los tabs*@
    }
</div>

<br />

<div style="margin-top:20px" id="estiloColorHover3">
    @Html.ActionLink("<< Volver al inicio", "Index","Home")
</div>