@model IEnumerable<Infraestructure.Models.PRODUCTOS>

@{
    ViewBag.Title = "Lista Productos";
}


<h1 class="display-6" id="estiloColor">
    Productos
</h1>

<hr class="my-4">

<div class="general-container">
    <div class="sub-container-1">
        <p class="lead">
            La siguiente es la lista de productos registados.
            <br />
            <div id="estiloColorHover2">
                @Html.ActionLink("¿Agregar uno nuevo?", "Create")
            </div>
        </p>
    </div>
    <div class="sub-container-2">
        <form>
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-10">
                        <input class="form-control" type="text" placeholder="Buscar producto">
                        <div class="input-group-append">
                            <button class="btn btn-primary " type="submit">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.CATEGORIA.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary">
                <td>
                    @Html.DisplayFor(modelItem => item.CATEGORIA.descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.stock)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td style="width:20%" id="estiloColorHover">
                    @Html.ActionLink("Editar", "Edit", new { /*id = item.ID */}) |
                    @Html.ActionLink("Detalles", "Details", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>


@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
        </div>
    </footer>
}