@*@model IEnumerable<Infraestructure.Models.PRODUCTOS>*@
@model  PagedList.IPagedList<Infraestructure.Models.PRODUCTOS>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Inventario";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    String filtro = ViewBag.Filtro;
}
@Styles.Render("~/Content/PagedList.css")

<h1 class="display-6" id="estiloColor">
    Inventario
</h1>

<hr class="my-4">

<div class="general-container">
    <div class="sub-container-1">
        <p class="lead">
            La siguiente es la lista de productos en inventario.
            <br />
        </p>
    </div>
    <div class="sub-container-2">
        @using (Html.BeginForm())
        {
            
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-10">
                        @Html.TextBox("filtroBuscarProducto", filtro, new { @class = "form-control", @placeholder = "Buscar producto" })
                        @*<input class="form-control" type="text" placeholder="Buscar producto">*@
                        <div class="input-group-append">
                            <button class="btn btn-primary " type="submit">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="col-lg-12" style="margin-top:100px;">
    <div id="resultado" class="row">
        @foreach (var item in Model)
        {
            if (item.estado.ToString().Equals("1"))
            { 
                <div class="col-lg-4">
                    <div class="card" style="width:100%; margin-bottom:20px;">
                        <img src="data:image/jpeg;charset=utf-8;base64,@Convert.ToBase64String(item.imagen)"
                             alt="Imagen @Html.DisplayFor(modelItem => item.nombre)" class="img-thumbnail" style="width:100%; height:250px" />
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.nombre)</h5>
                            <h6 class="card-subtitle mb-2 text-muted"> Marca: @Html.DisplayFor(modelItem => item.marca) |  Cantidad: @Html.DisplayFor(modelItem => item.stock)</h6>
                            <p class="card-text">   Precio:  @Html.DisplayFor(modelItem => item.precio)</p>
                            @*@Html.ActionLink("Detalles", "Details", new { id = item.ID }, htmlAttributes: new { @class = "btn btn-primary btn-sm",
                            style = " text-align: center; margin-left: 50%; transform: translateX(-50%);"})*@
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>








@Html.PagedListPager(Model, page => Url.Action("Inventario", new { page = page, filtroBuscarProducto = filtro }),
     new PagedListRenderOptions
     {
         LinkToFirstPageFormat = "<< Primera ",
         LinkToPreviousPageFormat = "< Anterior ",
         LinkToNextPageFormat = " Siguiente >",
         LinkToLastPageFormat = " Ultima >>",
         UlElementClasses = new[] { "pagination" },
         LiElementClasses = new[] { "page-item" },
         MaximumPageNumbersToDisplay = 5
         //,DelimiterBetweenPageNumbers = "-"
     })

@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
        </div>
    </footer>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtroBuscarProducto").autocomplete({
            source: lista
        });
    });
    </script>
}