@model Web.ViewModel.ViewModelContactos

@using (Ajax.BeginForm("GuardarContacto", "Proveedores", new AjaxOptions
{
    UpdateTargetId = "resultado",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "GET",
    OnComplete = "CerrarModal()",
    LoadingElementId = "ajaxLoader"
}))
{
    <div class="modal-header">

        <h4 class="modal-title" id="myModalLabel">Agregar un Contacto</h4>
        @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>*@
    </div>
    <div id="modal-body" class="modal-body">
        <div class="card-body">
            <p class="card-text">
                Nombre:   @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control", @type = "name" } })
                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger", })
            </p>
            <p class="card-text">
                Correo:  @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
            </p>
            <p class="card-text">
                Teléfono:  @Html.EditorFor(model => model.telefono, new { htmlAttributes = new { @class = "form-control", @required = "required", @maxlength = "8", @type = "tel" } })
                @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
            </p>
        </div>

        @Html.HiddenFor(model => model.IDProvisional)

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-success">Guardar</button>
    </div>
    
}
