@model Infraestructure.Models.PROVEEDORES

@{
    ViewBag.Title = "Detalle Proveedor";
}

<h1 class="display-6" id="estiloColor">
    Detalle Proveedor
</h1>
<hr class="my-4">

<div class="card mb-3 ">
    <div class="row no-gutters">
        <div class="col-lg-8">
            <div class="card-body">
                <h3 class="card-title">@Html.DisplayFor(model => model.nombre)</h3>
                <h6 class="text-muted">
                    @Html.DisplayNameFor(model => model.PAIS): @Html.DisplayFor(model => model.PAIS.nombre)
                </h6>
                <h6>
                    Dirección: @Html.DisplayFor(model => model.direccion)
                </h6>
                @if (@Html.DisplayFor(model => model.estado).ToString() == "1")
                {
                    <h6>
                        Estado: Activo
                    </h6>
                }
                else
                {
                    <h6>
                        Estado: Inactivo
                    </h6>
                }
                
            </div>
        </div>
    </div>
</div>
<br />


<br />

<h3>Productos</h3>
<hr class="my-4">
<table class="table table-hover">
    <thead>
        <tr class="table-success">
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTOS.ElementAt(1).CATEGORIA.descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTOS.ElementAt(1).marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PRODUCTOS.ElementAt(1).nombre)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.PRODUCTOS.ElementAt(1).stock)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.estado)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @if (Model.PRODUCTOS.Count() == 0)
        {


            <tr class="table-warning">

                <td colspan="5"><div class="text-center">No hay registros</div> </td>
            </tr>
        }
        else
        {
            foreach (var item in Model.PRODUCTOS)
            {
                <tr class="table-secondary">
                    <td>
                        @Html.DisplayFor(modelItem => item.CATEGORIA.descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.stock)
                    </td>
                    <td style="text-align:center">
                        @if (@Html.DisplayFor(modelItem => item.estado).ToString() == "1")
                        {
                            <div>Activo</div>
                        }
                        else
                        {
                            <div>Inactivo</div>
                        }
                    </td>

                </tr>
            }
        }

    </tbody>
    </table>

<br />


<h3>Contactos</h3>
<hr class="my-4">
<div class="container">
    <div class="row">

        @if (Model.CONTACTO.Count() == 0)
        {
            <div style="margin: 1.5px; --bs-gutter-x: 0;" class="col-12 card  mb-3  border border-warning">
                <div class="card-header  bg-warning text-white" style="text-align: center">
                   No disponible
                </div>
                <div class="card-body" style="text-align: center">
                    <h5 class="card-title">Información:</h5>
                    <p class="card-text"> No hay contactos registrados para este proveedor</p>
                   
                </div>
            </div>
        }
        else
        {
            foreach (var item in Model.CONTACTO)
            {

                <div style="margin: 1.5px; --bs-gutter-x: 0;" class="col-5 card  mb-3  border border-success">
                    <div class="card-header bg-success text-white">
                        @Html.DisplayFor(modelItem => item.nombre)
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Información:</h5>
                        <p class="card-text"> Correo: @Html.DisplayFor(modelItem => item.correo)</p>
                        <p class="card-text">Teléfono: @Html.DisplayFor(modelItem => item.telefono)</p>
                    </div>
                </div>
            }
        }

    </div>
</div>

<br />



<p>
    @Html.ActionLink("Regresar al listado", "IndexAdmin")
</p>

@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
            <p>Si deseas conocer mas acerca de la página, favor visitar la página "Acerca de"</p>
        </div>
    </footer>
}