@model PagedList.IPagedList<Infraestructure.Models.PROVEEDORES>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Lista Proveedores";
    String filtro = ViewBag.Filtro;
}
@Styles.Render("~/Content/PagedList.css")

<h1 class="display-6" id="estiloColor">
    Proveedores
</h1>

<hr class="my-4">

<div class="general-container">
    <div class="sub-container-1">
        <p class="lead">
            La siguiente es la lista de proveedores registados.
            <br />
            <div id="estiloColorHover2">
                @Html.ActionLink("¿Agregar uno nuevo?", "Create")
            </div>
        </p>
    </div>
    <div class="sub-container-2">
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-10">
                        @Html.TextBox("filtroBuscarProveedor", filtro, new { @class = "form-control", @placeholder = "Buscar proveedor" })
                        @*<input class="form-control" type="text" placeholder="Buscar producto">*@
                        <div class="input-group-append">
                            <button class="btn btn-primary " type="submit">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th>
                @Html.DisplayNameFor(model => model.First().nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().estado)
            </th>

            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
            <tr class="table-warning">

                <td colspan="4"><div class="text-center">No hay registros</div> </td>
            </tr>
        }
        else
        {

            foreach (var item in Model)
            {
                <tr class="table-secondary">
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.direccion)
                    </td>


                    <td style="text-align:center">
                        @if (@Html.DisplayFor(modelItem => item.estado).ToString() == "1")
                        {
                            <div>Activo</div>
                        }
                        else
                        {
                            <div>Inactivo</div>
                        }
                    </td>
                    <td style="width:20%" id="estiloColorHover">
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ID })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("IndexAdmin", new { page = page, filtroBuscarProveedor = filtro }),
     new PagedListRenderOptions
     {
         LinkToFirstPageFormat = "<< Primera ",
         LinkToPreviousPageFormat = "< Anterior ",
         LinkToNextPageFormat = " Siguiente >",
         LinkToLastPageFormat = " Ultima >>",
         UlElementClasses = new[] { "pagination" },
         LiElementClasses = new[] { "page-item" },
         MaximumPageNumbersToDisplay = 5
          //,DelimiterBetweenPageNumbers = "-"
      })
@section footer{
    <footer class="footer mt-auto py-3 ">
        <hr />
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Sunrise Computers &reg;</p>
        </div>
    </footer>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">
    $(function () {
        var lista = @Html.Raw(Json.Encode(ViewBag.listaNombres));
        $("#filtroBuscarProveedor").autocomplete({
            source: lista
        });
    });
    </script>
}
