<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sunrise Computers</title>
    <link rel=" icon" href="~/Content/IMAGES-PAGES/sol-barra-web.png" />

    @Styles.Render("~/Content/STYLE-GENERAL/layout-home-page.css")
    @Styles.Render("~/Content/STYLE-GENERAL/product-list.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="~/Content/IMAGES-PAGES/sol-logo.png" style="height:75px; width:120px; padding-left:20px" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <h3 id="estiloColor">
            Favor Autenticarse para Ingresar al Sistema. ¡Gracias!
        </h3>
    </nav>
    <main class="main-container-page">

        @RenderBody()

    </main>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/popper")

    @Scripts.Render("~/bundles/jqueryui")

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/sweetalert")
    @RenderSection("scripts", required: false)
    @if (ViewBag.NotificationMessage != null)
    {
        <script>
            @Html.Raw(@ViewBag.NotificationMessage);
        </script>
    }
</body>


</html>
